form{
    padding-top: 50px;
    margin: auto;
    width: 500px;
}
label{
    font-weight: bold;
    color: black;
    font-size: 17px;
    height: fit-content;
}
input[type='text']{
    background-color: white;
    font-size: 17px;
    width: 100%;
    height: 20px;
    margin-bottom: 0;
}
input[type='email']{
    background-color: white;
    font-size: 17px;
    width: 100%;
    height: 20px;
    margin-bottom: 0;
}
input[type='number']{
    background-color: white;
    font-size: 17px;
    width: 100%;
    height: 20px;
    margin-bottom: 0;
}
input[type='date']{
    background-color: white;
    font-size: 17px;
    width: 100%;
    height: 20px;
    margin-bottom: 0;
}
.grid{
    grid-template-columns: auto auto;
}
button[type='submit']{
        margin-top: 15px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px; /* Adjust padding as needed */
        font-size: 16px; /* Adjust font size as needed */
}
select{
    font-size: 15px;
    padding: 5px;
    color: black;
    font-weight: 500;
    background-color: white;

}
option{
    font-size: 17px;
}
i{
    font-size: 17px;
}
a{
    font-size: 17px;
}